[Unit]
Description=Autostart memebot
After=multi-user.target

[Service]
WorkingDirectory=/home/andres/Downloads/GitClones/TelegramMemeResponderBot
ExecStart=/home/andres/Downloads/GitClones/TelegramMemeResponderBot/venv/bin/python /home/andres/Downloads/GitClones/TelegramMemeResponderBot/run_bot.py
Type=simple
User=andres
Group=andres
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
